.tesla-battery {
    margin: 0 auto;
    text-align: center;
}

.tesla-battery h1 {
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.tesla-climate-container {
  width: 420px;
  padding: 0 40px;
  margin: 0 40px 0 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: inline-block;
}
.tesla-controls {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}